/*PALLETE
#020719
#2069b9
#03132e
#02173a
#225ca0
#16589c
*/
body,html{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background: rgb(1,10,21);
background: linear-gradient(135deg, rgba(1,10,21,1) 0%, rgba(6,41,76,1) 15%, rgba(18,90,165,1) 28%, rgba(27,127,220,1) 54%, rgba(46,150,246,1) 90%);
}
body p{
    font-family: 'SourceSansPro';
}
body h1, h2{
    font-family: 'Montserrat';
}
body a{
    font-family: 'Mont-medium';
    color: black;
}
#blogpost{
    background-color: #3a8cff;
    color: white;
}
header{
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    background-color: white;
    z-index: 1000;
}
header h1{
    font-family: 'Lobster-Bisque';
    font-style: italic;
}
/* Your existing CSS */

/* Hamburger menu styles */
.menu-toggle {
    display: none; /* Initially hide the hamburger icon */
    cursor: pointer;
}

.bar {
    width: 50px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
}

#nav-div{
    width: 80%;
}
#nav-div ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5lvw;
    justify-content: center;
    align-content: center;
    height: 100%;
    margin: 0;
}
#nav-div ul li{
    padding: 1% 2%;
    border-radius: 15px;
}
#nav-div ul li a{
    text-decoration: none;
}
header h1{  
    text-align: center;
    width: 40%;
}

/*============================*/
.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
#body{
    width: 80%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
#upper{
    background-color: #3a8cff;
}
#upper h1,#upper h3{
    margin-left: 5%;
}
.tags ul{
    display: flex;
    gap: 2lvw;
}
.tags ul li{
    list-style: none;
    background-color: rgb(0, 189, 247);
    padding: 0 15px;
    font-weight: bold;
    border-radius: 10px;
}
#description{
    padding-bottom: 4%;
    border-bottom: solid 2px black;
}
#comment{
    width: 100%;
    display: flex;
    gap: 5lvw;
    margin-top: 2%;
    flex-wrap: wrap;
}
#comment-left{
    width: 55%;
}
#comment-right{
    width: 35%;
}
#recent-post{
    position: relative;
    width: 100%;
}
.recent-blog{
    width: 100%;
}
.recent-blog h1{
    margin: 0 0 3%;
}
.recent-blogpost{
    width: 100%;
}
#form-section{
    width: 100%;
    position: relative;
}

#form button{
    margin-top: 2%;
    padding: 1% 2%;
    border: 0;
    border-radius: 30px;
    color: white;
    background-color: rgb(20, 12, 255);
}

#comment #form-section #form{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    background-color: rgb(0, 153, 255);

    padding: 5% 0% 0% 5%;
}

.checked {
    color: orange;
  }
  #rate{
    display: flex;
  }
  #comment-section{
    background-color: white;
  }
  #comment-section .person{
    width: 93%;
    padding-top: 3%;
    margin-left: 3%;
    display: flex;
    border-bottom: 1px solid black;
  }
  .person-info{
    margin-left: 4%;
    margin-top: 0;
  }
.name-rate{
    display: flex;
    gap: 3lvw
}
.name-rate h3{
    margin: 0;
}
#social-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 270px;
}
.social-icons{
    display: flex;
    flex-direction: row;
    gap: 1em;
}
footer p{
    font-size: 2lvw;
    text-align: center;
}